@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@media only screen and (max-width: 700px) {
  .App {
    overflow-x: auto;
    white-space: nowrap;
  }
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  background-color: #0B2826 !important;
  display: flex;
  justify-content: center;

  color: #F7DEB7;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.App {
  text-align: center;
}

.Header {
  background: url('./images/header.png') no-repeat;
  background-position: center;
  height: 225px;
  width: 100%;
}

.Banner {
  margin-top: 50px;
}

p {
  color: #E2B35E;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 2.5rem;
}

.padding-top-medium {
  padding-top: 1.25rem;
}