@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
  background-color: #0B2826 !important;
  display: flex;
  justify-content: center;

  color: #F7DEB7;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#slide0 {
  min-height: 1000px;
}

.App {
  text-align: center;
  margin-bottom: 20rem;
}

.Banner {
  margin-top: 100px;
}

p {
  color: #E2B35E;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.padding-top-medium {
  padding-top: 1.25rem;
}